/************************************************
start
************************************************/

.shapes {
  margin: 0 auto;
      text-align: left;
      width: 1000px;
}

/************************************************
Body
************************************************/

h1{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 45px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
}







/************************************************
about
************************************************/

#about {
    background-color: #D95538;
}