/************************************************
GENERAL
************************************************/

h1{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 20px;
}

p, li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
}

b {
    font-weight: 700;
}

a {
  color: black;
  text-decoration: none;
}

.back {
    position: fixed;
}

.back {
  transition: transform 0.75s;
}

.back:hover {
  transform: translate(-10px, 0px);
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-bottom: -100px;
}

.site-content {
    flex: 1;
}

.wrapper {
    padding-top: 5%;
    margin: 0 5%;
    max-width: 100%
}

/************************************************
LANDINGPAGE
************************************************/

.pages {
    list-style: none;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

.pages:hover {
    color: black;
}

#projects_link {
    color: #C1E7F1;
}

#about_link {
    color: #D95538;
}

#edu_link {
    color: #FBCF34;
}

/************************************************
ABOUT
************************************************/

#about {
    background-color: #D95538;
}

.wrapper_about {
    max-width: 400px;
    padding-top: 5%;
    margin: 0 5%;
}

/************************************************
EDUCATION
************************************************/

#education {
    background-color: #FBCF34;
}

.wrapper_edu {
    display: flex;
    margin: 0 5%;
    max-width: 1100px;
    padding-top: 5%;
}

.text {
    padding-top: 80px;
    max-width: 100%;
}

.box {
    width: 100%;
    display: flex;
    padding-top: 80px;
}

#box1, #box2,#box3, #box4  {
    width: 47%;
}

#box3, #box4 {
    padding-bottom:5%;
}

/************************************************
PROJECTS
************************************************/

#projects {
    background-color: #C1E7F1;
}

.project {
    display: flex;
    flex-direction: row;
}
.wrapper_projects {
    padding-top: 5%;
    margin: 0 5%; 
}

.more {
    padding-top: 20px;
    margin-bottom: 100px;
    text-decoration:underline;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
}

.description {
    max-width: 400px;
    margin-right: 40px;
}

.descr {
    min-width: 600px;
}

.preview_text {
    margin-bottom: 50px;
}

.logo_preview {
    width: 100%;
    margin-bottom: 70px;
}

/********************************************
  FOOTER
*******************************************/

#wrapper_footer {
    margin: 0 5%;
}

#wrapper_footer_start {
    max-width: 100%;
}

footer {
    display: flex;
    border-top: 2px solid black;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

footer a{
    color:  black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;  
}

/********************************************
  Case-Study
*******************************************/

.project_title {
    width: 100%;
    padding-top: 80px;
    height: 80px;
}

.description {
    padding-top: none;
    min-width: 100px;
}

.wrapper_casestudy {
    padding-top: 5%;
    margin: 0 5%; 
    margin-right: 5%;    
}

.logos {
    width: 100%;
}

.colors {
    width: 100%;
    padding-top: 200px;
}

.typo {
    width: 100%;
    padding-top: 200px;
    margin-bottom: 200px;
}

.typeface {
    display: flex;
    flex-direction: row;
    max-width: 400px;
}

.wrapper_info1 {
    min-width: 600px;
    display: flex;
    flex-direction: row;
}

.wrapper_info2 {
    min-width: 600px;
    display: flex;
    flex-direction: row;
    padding-top: 200px;
}

.image {
    width: 50%;
    max-width: 40%;
}

.project_wrapper1, .project_wrapper2, .project_wrapper3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/********************************************
  Media Queries
*******************************************/


@media only screen and (max-width:1100px){

    .project_wrapper1, .project_wrapper2, .project_wrapper3 {
        flex-wrap:wrap;
    }
    
    .image {
        padding-left: 140px;
        max-width: none;
    }
    
    .colors, .logos, .typo {
        padding-top: 100px;   
    }
    
    .wrapper_info2 {
        padding-top: 150px;
    }
    
    
@media only screen and (max-width:600px){
    
    
    .wrapper_info1, .wrapper_info2 {
        display: flex;
        flex-direction: column;
        max-width:100%;
        min-width: 0px;
    }
    
    .wrapper_info2 {
        padding-top: 50px;
    }
    
     .image {
        padding-left: 0px;
         width: 100%;
         max-width: none;
    }
    
    .description {
        min-width: 40px;
        margin-bottom: 20px;
        max-width: none;
    }
    
    .colors, .logos, .typo {
        padding-top: 50px;
    }
    
    .typo {
        margin-bottom: 70px;
    }
    
    .pages {
        margin-bottom: 0px;
    }
}
    
    

@media only screen and (max-width:500px){

    
    h1 {
        font-size: 32px;   
    }
    
    h2 {
        font-size: 32px;
    }
    
    .pages {
        font-size: 38px; 
    }
    
    p {
        font-size: 17px;
    }
        
    .text, .project_title {
        padding-top: 40px;
    }

    .box {
        width: 100%;
        flex-direction: column;
        display: flex;
        padding-top: 40px;
    }
    
      .wrapper_edu {
        display: flex;
        padding-left: 2px;
        padding-right: 10px;
        flex-flow: wrap;
        flex-direction: column;
        padding-top:   
    }
    
    .wrapper_about{
        padding-left: 2px;
        padding-right: 10px;
    }

    .wrapper {
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding-top: 5%
    }
    #box1 {
        padding-bottom: 5%;
    }
    
     #box1, #box2, #box3, #box4 {
        width: 100%;
        margin-bottom: 10%;
    }
    
    #box4 {
        margin-bottom: 40px;
    }
    
}


@media only screen and (max-width:340px){
    
    footer a {
        font-size: 12px;
    }
     
}
