
/************************************************
GENERAL
************************************************/

h1{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
}

b {
    font-weight: 700;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

.back {
    position: fixed;
}

.back {
  transition: transform 0.75s;
}

.back:hover {
  transform: translate(-10px, 0px);
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-bottom: -100px;
}

.site-content {
    flex: 1;
}

.wrapper {
    padding-top: 5%;
    margin: 0 5%;
    max-width: 100%
}


/************************************************
LANDINGPAGE
************************************************/

li {
    list-style: none;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

li:hover {
    text-decoration:underline;
}

#projects_link {
    color: #C1E7F1;
}

#about_link {
    color: #D95538;
}

#edu_link {
    color: #FBCF34;
}

/************************************************
ABOUT
************************************************/

#about {
    background-color: #D95538;
}

.wrapper_about {
    max-width: 400px;
    padding-top: 5%;
    margin: 0 5%;
    width: 100%;
}

/************************************************
EDUCATION
************************************************/

#education {
    background-color: #FBCF34;
}

.wrapper_edu {
    display: flex;
    margin: 0 5%;
    max-width: 1100px;
    padding-top: 5%;
}

.text {
    padding-top: 40px;
}

.box {
    width: 100%;
    display: flex;
    padding-top: 40px;
}

#box1, #box2,#box3, #box4  {
    width: 47%;
}

#box3, #box4 {
    padding-bottom:5%;
}

/************************************************
PROJECTS
************************************************/

#projects {
    background-color: #C1E7F1;
}

.wrapper_projects {
    padding-top: 5%;
    margin: 0 5%;
}



/********************************************
  FOOTER
*******************************************/

#wrapper_footer {
    margin: 0 5%;
}

#wrapper_footer_start {
    max-width: 100%;
}

footer {
    display: flex;
    border-top: 2px solid black;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

footer a{
    color:  black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    
}


/********************************************
  Media Queries
*******************************************/

@media only screen and (max-width:500px){


    
    h1 {
        font-size: 32px;
        
    }
    
    h2 {
        font-size: 32px;
    }
    
    
    li {
        font-size: 38px;
      
    }
    
    p {
        font-size: 17px;
    }
    
    .back {

    }

    .box {
        width: 100%;
        flex-direction: column;
        display: flex;
    }
    
      .wrapper_edu {
          display: flex;
        padding-top: 5%;
        padding-left: 2px;
        padding-right: 10px;
        flex-flow: wrap;
        flex-direction: column;
    
    }
    
    .wrapper_about{
        padding-top: 5%;
        padding-left: 2px;
        padding-right: 10px;
    }
    
    .wrapper {
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 5%
    }
    
    
     #box1, #box2, #box3, #box4 {
        width: 100%;
        margin-bottom: 5%;

    }
    
    #box4 {
        margin-bottom: 40px;
    }
}


@media only screen and (max-width:340px){
    
    
    
    footer a {
        font-size: 12px;
    }
    
    
}





