
/************************************************
GENERAL
************************************************/

h1{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 38px;
    padding-top: 40px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

.back {
    padding-left: 40px;
    padding-top: 40px;
    position: fixed;
}

.back {
  transition: transform 0.75s;
}

.back:hover {
  transform: translate(-10px, 0px);
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-bottom: -100px;
}

.site-content {
    flex: 1;
}

.wrapper {
    padding-top: 5%;
    margin: 0 5%;
}


/************************************************
LANDINGPAGE
************************************************/

li {
    list-style: none;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

li:hover {
    text-decoration:underline;
}

#projects_link {
    color: #C1E7F1;
}

#about_link {
    color: #D95538;
}

#edu_link {
    color: #FBCF34;
}

/************************************************
ABOUT
************************************************/

#about {
    background-color: #D95538;
}

.wrapper_about {
    max-width: 400px;
    padding-top: 60px;
    margin: 0 5%
}

/************************************************
EDUCATION
************************************************/

#education {
    background-color: #FBCF34;
}

.wrapper_edu {
    display: flex;
    padding-top: 60px;
    margin: 0 5%;
    
}
 
#box1, #box2, #box3, #box4 {
    display: inline-block;
    width: 40%;
}

#box1, #box2 {
    padding-top: 20px;
}

/************************************************
PROJECTS
************************************************/

#projects {
    background-color: #C1E7F1;
}

#wrapper_projects {
    height: 100%;
    max-width: 1000px;
    margin-left: 100px;
    padding-top: 60px;

}



/********************************************
  FOOTER
*******************************************/

#wrapper_footer {
    margin: 0 5%;
}

#wrapper_footer_start {
    max-width: 100%;
}

footer {
    display: flex;
    border-top: 2px solid black;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

footer a{
    color:  black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    
}


/********************************************
  Media Queries
*******************************************/

@media only screen and (max-width:800px){


    
    h1 {
        font-size: 32px;
        padding-top: 20px;
    }
    
    h2 {
        font-size: 32px;
    }
    
    li {
        font-size: 38px;
      
    }
    
    p {
        font-size: 17px;
    }
    
    .back {
        padding-left: 20px;
        padding-top: 25px;
    }
    
      .wrapper_edu {
        padding-top: 25px;
        padding-left: 2px;
    
    }
    
    .wrapper_about{
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 10px;
    }
    
    .wrapper {
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 5%
    }
    
    
     #box1, #box2, #box3, #box4 {
        width: 100%;
        margin-bottom: 20px;
    }
    
    
    
    #box1, #box2 {
        margin-top: 10px;
    }
    
    #box4 {
        margin-bottom: 20px;
    }   
}



@media only screen and (max-width:340px){
    
    
    
    footer a {
        font-size: 12px;
    }
    
    
}





