/************************************************
start
************************************************/

.shapes {
  margin: 0 auto;
      text-align: left;
      width: 1000px;
}

/************************************************
GENERAL
************************************************/

h1{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 45px;
}

h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}



/************************************************
ABOUT
************************************************/

#about {
    background-color: #D95538;
}


/************************************************
EDUCATION
************************************************/

#education {
    background-color: #FBCF34;
}

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    max-width: 1100px;
    padding-top: 80px;
    padding-left: 80px;
}
 
#box1, #box2, #box3, #box4 {
    display: inline-block;
    width: 45%;
}

#box1, #box3 {
    padding-left: 40px;    
}

#box2, #box4, p {
    padding-right: 40px;    
}
/************************************************
PROJECTS
************************************************/

#projects {
    background-color: #C1E7F1;
}