
h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  margin-bottom: 5%;
  color: #0033CC;
  text-align: center;
  margin-top: 15%;
}

h2 {
  color: #0033CC;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 5%;

}

 p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: #0033CC;
  font-size: 20px;
}

#wrapper {
  width: 100%;
  background-color: white;
}

.text {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 25px;
  width: 50%;
}

.background {
  background-color: #E9E9E9;
  width: 100%;

}

.background2 {
  background-color: #0033CC;
  width: 100%;
}

.information {
  background-color: #E9E9E9;
  max-width: 800px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.education{
  display: inline-block;
  border: 4px solid #0033CC;
  width: 40%;
  margin-top: 10%;
  padding-top: 2%;
}
.projects{
  display: inline-block;
  border: 4px solid white;
  width: 40%;
  margin-top: 10%;
  padding-top: 2%;
  margin-bottom: 20px
}

.education .projects {
margin-left: auto;
margin-right: auto;
}

.education p,
.projects p {
padding: 10%;
color: #0033CC;
}

.education, .projects {
  vertical-align: top;
}

.information2 {
  background-color: none;
  max-width: 800px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.internships{
  display: inline-block;
  border: 4px solid #0033CC;
  width: 40%;
  margin-top: 10%;
  padding-top: 2%;
  float: right;
}
.contact{
  display: inline-block;
  border: 4px solid #fff;
  width: 40%;
  margin-top: 10%;
  padding-top: 2%;
  float: right;
}

.internships, .education, .projects , .contact {
  height: 400px;
}

.internships p, .contact p{
margin-left: auto;
margin-right: auto;
color: white;
padding: 9%;
}

.internships p  {
  color: #0033CC;
}

li {
  list-style: none;
  color: white;
  padding: 0%;
  text-decoration: underline;
  display: block;
  margin: 9%;
  justify-content: center;
}

a:link, a:visited {
    color: white;
    font-size: 1.5em;
    font-family: 'Titillium Web', sans-serif;
}

.contact, .internships {
  vertical-align: top;
}

.alth2 {
  color: white;
}
.maillink{
  font-size: 20px !important;
}

body { background-color:#0033CC; }


@media (min-width:781px){
  .background, .background2 {
    padding-bottom: 80px;
  }
}

@media (max-width:780px)  {
  .education, .internships, .projects, .contact {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    height: auto;
  }
  .internships, .contact {
    float: none;
  }
  .background, .background2 {
    height: auto;
  }

  .information {
    padding-top: 30px;
  }
  .text {
    width: 84%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
